html {
    height:100%;
}

body {
    overflow: hidden; 
    font-family: 'Roboto', sans-serif !important;
}

#command-line {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
}

#mixer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 15%;
    width: 100%;
    background-color: green;
}

#central-part {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 42, 45);
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='150px' width='350px'><text x='0' y='30' fill='grey' opacity='0.2' font-family='Helvetica' font-size='40'>ACTAM PROJECT</text></svg>");
    background-repeat: no-repeat;
    background-position: center;
}

#container {
    position: relative;
    float:left;
    top: 0px;
    width: 100%;
    height: 75%;
    /* background-color: rgba(197, 196, 196, 0.5); */
}


/* INSTRUMENT CSS */

#instrument-list {
  height: 83%;
  overflow-y: auto;
  position: relative;
  padding: 6px;
}

#instrument-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(197, 196, 196, 0.5);
}

#instrument-list::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(197, 196, 196, 0.5);
}

#instrument-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#table-view {
    position: relative;
    float: right;
    top: 0px;
    width: 60%;
    height: 75%;
    background-color: rgba(197, 196, 196, 0.5);
}

#instrument-menu {
  position: relative;
  height: 10%;
  border: 2px solid black;
  margin-bottom: 5px;
  display: contents;
}

/* instrument css */
.instrument {
  padding: 5px;
    border: 1px solid #000000a1;
    border-radius: 3px 0px 0px 3px;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 700;
    background-color: #757575;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
    box-shadow: 0 4px 14px rgba(0,0,0,0.25), 0 6px 20px rgba(0,0,0,0.22);
    position: absolute;
    width: 34%;
    top: 0px;
    display: inline-flex;
}

.instrument-line{
  position: relative;
  width: 98%;
  height: 75px;
}

.onDelete-instrument-line{
  left: 15px;
  pointer-events: none;
  -webkit-animation-name: go-left; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: go-left;
  animation-duration: 0.3s;
}

@keyframes go-left {
  from {left: 0px; }
  to {left: 15px;}
}

.inactive{
  opacity: 0.5;
  pointer-events: none;
}

.instrument-channel {
  position: absolute;
  width: 65%;
  height: 100px;
  right: 0px;
  top: 0px;
  margin-top: 4px;
}

.instrument:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.add-rem-inst.rem-inst.on-inst{
  position: absolute;
  margin-left: -27px;
  margin-top: 17px;
  /* animation: rotate 0.3s infinite;
  transform: rotate(-10deg);
  animation-direction: alternate; */
  pointer-events: none;
  opacity: 0; 
}

/* @keyframes rotate {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
} */

.add-rem-inst.rem-inst.on-inst:hover{
  /* transform: translateY(-5px); */
  transform: scale(1.2);
  transition: all .7s;
}
.input-label {
  position: relative;
    left: 43%;
    top: 34px;
    font-size: 11px;
    transform: translateX(-60%);
    display: inline-block;
    width: 58px;
}

.instrument-name {
  position: relative;
    padding-top: 7px;
    padding-left: 11px;
    padding-right: 12px;
    padding-bottom: 13px;
    width: 26px;
    height: 17px;
    top: 5px;
    left: 12px;
    background-color: #e4e4e4;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
    border: 1px solid black;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}



.arrow{
  width: 20px;
}

ul{
  /* border:1px solid black;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}



/* SUBMENU CSS */

ul.sub-menu.genre{
  position:absolute;
  background-color: rgb(44, 44, 44);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  list-style-type:none;
  margin-top:7px;
  margin-left:-22px;
  width:100px;
  padding-left:0px;
  border: 1px solid black;
  border-radius: 2px;
  opacity:0;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  pointer-events: none;
}

ul.sub-menu1.genre{
  
  list-style-type:none;
  width: 100px;
  padding-left: 0px;
  border-radius: 2px;
}

ul.sub-menu.item{
  position:absolute;
  background-color: rgb(44, 44, 44);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  list-style-type: none;
  border: 1px solid black;
  margin-top: -23px;
  margin-top:-11px;
  margin-left:97px;
  width:100px;
  padding-left:0px;
  border-radius: 2px;
  opacity:0;
}

ul.sub-menu li{
  padding-left:0px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius: 2px;
  color: #bebebe;
}
ul.sub-menu li:hover{
  color: #dadada;
  background-color: #565656;
    background-image: radial-gradient(transparent, rgba(255, 255, 255, 0.35));
}




/* CONTROL PANEL ON INSTRUMENT CSS */

.instrument-name:hover{
  background-color: #fafafa;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.noteDuration:hover{
  background-color: #fafafa;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
}


.active {
  z-index:1;
  opacity:1 !important;
  pointer-events: all !important;
  visibility: unset !important;
}

li.genre1:hover .sub-menu.item.genre1{
  z-index:1;
  opacity:1;
}

li.genre2:hover .sub-menu.item.genre2{
  z-index:1;
  opacity:1;
}

li.genre3:hover .sub-menu.item.genre3{
  z-index:1;
  opacity:1;
}

.sub-menu.item{
  margin-left: 20px;
  visibility: hidden;
}

.mute{
  position: absolute;
  top: 14px;
  left: 93px;
}

.solo{
  position: absolute;
  top: 36px;
  left: 93px;
}

.mute-button, .solo-button{
  position: absolute;
  height: 9px;
  width: 9px;
  left: -13px;
  top: 1px;
  border-radius: 50%;
  background: radial-gradient(#404040, #252525 81%);
  border: 1px solid black;
  cursor: pointer;
}

.active-solo{
  background: radial-gradient(rgb(239, 255, 0), rgba(89, 90, 0, 0.74) 100%);
    box-shadow: 0 0 3px #a7c500;
}

.active-mute{
  background: radial-gradient(#ff0000, rgba(135, 0, 0, 0.74) 100%);
    box-shadow: 0 0 3px #ff2f2f;
}

.meter{
    position: absolute;
    width: 6px;
    height: 40px;
    margin-left: 111px;
    margin-top: 3px;
    background: #111;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.meter {
  position: absolute;
  width: 6px;
  height: 40px;
  margin-left: 111px;
  margin-top: 3px;
  background: #111;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

span.anim {
  display: block;
    background-image: linear-gradient(red, yellow, #22ff55);
    height: 100%;
    opacity: 1;
    box-shadow: 0 0 10px #dddddd;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    /* -webkit-animation: equalize 1s linear;
    animation: equalize 1s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; */
}

span.anim.fade{
  transition: transform 0.3s linear;
}

/* .anim{
    display: block;
    background: #22ff55;
    height: 100%;
    opacity: 1;
    box-shadow: 0 0 10px #22ff55;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-animation: equalize 1s linear;
    animation: equalize 1s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
} */

.euclidean-input {
  position: relative;
    top: 0px;
    left: 88px;
}

.disable-selector
{
    pointer-events: none;
    opacity: 0.3;
}

.range-selector{
  position: absolute;
  margin-top: 7px;
  display: inline-block;
  font-size: 15px;
  text-align: center;
}

.range-selector.STEPS{
  margin-left: 0px;
}
.range-selector.PULSES{
  margin-left: 50px;
}
.range-selector.OFFSET{
  margin-left: 100px;
}

.change-value.decrement-value,
.change-value.increment-value
{
  position: absolute;
    background-color: #404040;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
    width: 18px;
    height: 15px;
    border: 1px solid black;
    color: #dadada;
    font-size: 19px;
    top: 17px;
    cursor: pointer;
}

.change-value.decrement-value:active,
.change-value.increment-value:active
{
  background-color: #2b2b2b;
}

.decrement-value{
  border-radius: 0px 0px 0px 3px;
    line-height: 13px;
}

.increment-value{
  left: 20px;
    border-radius: 0px 0px 3px 0px;
    line-height: 17px;
}

.actual-value{
  position: absolute;
    background-color: #d8d8d8;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
    width: 40px;
    height: 22px;
    top: -4px;
    border: 1px solid black;
    border-radius: 2px 2px 0px 0px;
    color: black;
    line-height: 12.7px;
    line-height: 24.7px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
}

input, textarea {
  border: 1px solid black;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-num {
  clear: both;
  margin-top:5px;
  position: relative;
  display: inline-block;
}

.input-num input[type='button'] {
  background-color: #0202025c;
  min-width: 25px;
  width: auto;
  transition: all 300ms ease;
}

.input-num .button-minus,
.input-num .button-plus {
  font-weight: bold;
  /* border-radius: 7px; */
  height: 25px;
  padding: 0;
  width: 25px;
  position: relative;
}

.button-minus{
  border-radius: 7px 0px 0px 7px ;
}

.button-plus{
  border-radius: 0px 7px 7px 0px;
}

.input-num .num-value {
  position: relative;
  height: 25px;
  left: -5px;
  text-align: center;
  width: 30px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
  background-color: rgba(224, 223, 223, 0.4);
}

.input-num.steps{
  position: relative;
  margin-left: 2px;
}

.button-plus {
  left: -11px;
}
/* 
.duration{
  height: 0px;
} */

.noteDuration{
  position: absolute;
    padding-top: 6px;
    margin-bottom: 0px;
    height: 33px;
    width: 28px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    top: 3px;
    left: 153px;
    font-size: 15px;
    line-height: 1;
    background-color: #d1d1d1;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
    cursor: pointer;
}

ul.sub-menu.genre.dur{
  width: 36px;
    left: 27px;
    top: 29px;
}

.instr-knobs{
  margin-left: 184px;
}

.input-knob{
  position: relative;
  clear: both;
  margin-top: 5px;
  margin-left: 12px;
  display: inline-block;
  text-align: center;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}


#menu-add > a  {
  font-size: 15px;
  font-weight: bolder;
  text-align: left;
}

#menu-add > a > i {
  transform: translateY(20%);
}

.deleteIns {
  transform: translateY(25%);
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.5);
  transition: all .2s;
}

.deleteIns:hover {
  cursor: pointer;
  color: #00000000;
  -webkit-transform: scale(1.1); 
      -ms-transform: scale(1.1); 
          transform: scale(1.05);
          transform: translateY(15%);
}

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}





