dial {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: #3e3e3e;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.3));
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
    position: relative;
    border: 2px solid #292929;
    transform: rotate(0deg);
    cursor: grab;
}

dial:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 49%;
    margin-left: -2px;
    width: 3px;
    height: 13px;
    border-radius: 0 0 2px 2px;
    border: 1px solid #005d15;
    background: #18da3f;
}

dial:after {
    content: " ";
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 3px;
    background: rgb(33, 70, 29);
}


dial:active{
    cursor: grabbing;
}