//@import "~compass/css3";

::selection {
  background: #818181; /* WebKit/Blink Browsers */
}

body{
  background-color:#252a2d;
  font-family: Roboto Condensed,sans-serif;
}

input[type="text"]
{
    background: transparent;
    border: none;
    padding: 0px;
    /*font-family: Roboto Condensed,sans-serif;*/
}

div:focus { 
  outline: none !important;
  border-color: #000000;
  //box-shadow: 0 0 10px black;
}

#transport-bar{
    position: absolute;
    border-radius: 7px;
    margin: auto;
    width: 98%;
    height: 40px;
    // text-align: center;
    // background-color: #424242;
    // box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.06),
    // inset 0 4px 0 rgba(255, 255, 255, 0.15);
    // display: inline-block;

    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #111;
    padding: 2px 6px;
    background: linear-gradient(#151515, rgba(0, 0, 0, 0.5));
    cursor: default;
}

#inst-mod{
  margin-top:-2px;
}

.add-rem-inst{
  margin-top: 8px;
  background: #292929 linear-gradient(#1b1a1a, transparent);
  border: 1px solid #383838;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.add-rem-inst.add-inst{
  position: absolute;
  margin-left: 16px;
  width: 60px;
  height: 25px;
}

.add-rem-inst.add-inst:active,
.add-rem-inst.rem-inst:active
{
  background: #1b1b1b  linear-gradient(#0a0a0a, transparent);
}

.add-rem-inst.rem-inst{
  position: absolute;
  margin-left: 86px;
  margin-top: 16px;
  width: 17px;
  height: 17px;
}

.plus-symbol{
  visibility: visible;
  display: inline-block;
  clear: both;
  color: #17e841;
  font-size: 40px;
  white-space: nowrap;
  text-align: center;
  position: relative;
  left:18.7px;
  top:-10px;
}

.minus-symbol{
  visibility: visible;
  display: inline-block;
  clear: both;
  color: red;
  font-size: 30px;
  white-space: nowrap;
  text-align: center;
  position: relative;
  left:3.5px;
  top:-11.5px;
 }

#songTitle{
  position: relative;
  margin-left:85%;
  margin-top:-4px;
  text-decoration: underline;
  text-decoration-color: white;
  border-color:black;
  border-radius:3px;
  height: 25px;
  width:150px;
  color:white;
  text-align:right;
  font-size: 19px;
  cursor: text !important;
}

#rep-menu{
    position: relative;
    margin-left:200px;
    margin-top:11px;
}

.play-pause {
  position: absolute;
  margin-left:2px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 19px;

  border-color: transparent transparent transparent #dadada;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 9px 0 9px 19px;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 16px;
  }

  &:hover {
    border-color: transparent transparent transparent #f7f7f7;
  }
}

.stop{
    position: absolute;
    margin-left:36px;
    height: 19px;
    width: 19px;
    background-color: #dadada;
    transition: 100ms all ease;
    cursor: pointer;

    &:hover {
        background-color: #f7f7f7;
    }
}

.crono{
    height: 100%;
    width: 100%;
    text-align:center;
    margin-top:2.5px;
    font-size: 18px;
}

#tempoDisplays{
  position: relative;
  margin-left:480px;
  margin-top:13px;
}

.tempoProp{
  background-color:gray;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
  border-radius: 2.5px;
  border: 1px solid black;
  height: 25px;
  width: 85px;
}

.tempoProp.text-crono{
  position: absolute;
  margin-top:-5px;
  margin-left:0px;
}

.tempoProp.text-bpm{
  position: absolute;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: -5px;
  margin-left:100px;
  width: 63px;
  text-align: right;
  font-size: 12px;
  line-height: 29px;
}

.tempoProp.text-tot-steps{
  position: absolute;
  padding-left: 3px;
  padding-right: 3px;
  margin-top:-5px;
  margin-left:200px;
  width: 63px;
  text-align:right;
  font-size: 12px;
  line-height: 29px;
}

.bpm{
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -38px;
  height: 25px;
  width: 35px;
  text-align: right;
  font-size: 18px;
  line-height: 25px;
  background-color: transparent;
  border: 0px;
  cursor: text !important;
}

.volume{
  position: absolute;
  margin-top: -12px;
  margin-left: 280px;
}

.tot-steps{
  position: absolute;
  height: 25px;
  width: 30px;
  text-align: right;
  font-size: 18px;
  line-height: 25px;
}

#metronomeDisplay{
  position: absolute;
  margin-top: 2px;
  margin-left: 786px;
  font-size:13px;
  color: #dadada;
}

.metronome-svg{
  width: 120px;
  filter: invert(100%);
} 

#metronome{
  position: relative;
  margin-left: 77px;
  margin-top: -15px;
  width: 15px;
  height: 15px;
  background: #111;
  border-radius: 50%;
  border: 1px solid #222;
  box-shadow: inset 0 0 10px #111, 0 0 2px rgba(0, 0, 0, 0.4);
  transition: border-color 0.3s ease;
}

#metronome.active{
  background: radial-gradient(red, #ff1b1b57 81%);
  box-shadow: inset 0 0 10px #111, 0 0 2px #000;
}
/*$chromeurl: image-url('https://s3.amazonaws.com/codepen/chrome_radial.jpg');

.volume{
  position: relative;
  margin-top:-5px;
  margin-left:500px;display: block;
  background: #565656;
  height: 7px;
  box-shadow: 0 1px 0px rgba(255,255,255,0.25),
    inset 0 0 4px rgba(0,0,0,0.9);
  @include border-radius(7px);
  div.ui-slider-range {
    display: block;
    height: 7px;
    @include border-radius(7px);
    @include transition-property(background-color);
    @include transition-duration(100ms);
  }
  &.main div.ui-slider-range {
    background-color: rgb(47, 103, 53);
    box-shadow: inset 0 0 4px rgba(163, 18, 0, 0.7),
      inset 0 0 2px rgba(0, 0, 0,0.5);
    &.hilite, &.dragging {
      background-color: rgb(255, 160, 155);
    }
  }
   
  a.ui-slider-handle {
    position: absolute;
    top: -5px;
    margin-left: -9px;
    z-index: 2;
    height: 16px;
    width: 16px;
    @include border-radius(20px);
    background-color: #d4d4d4;
    @include background-image($chromeurl);
    @include background-size(100% 100%);
    border: 0px solid rgba(0,0,0,0.1);
    box-shadow: 0 0px 2px rgba(0,0,0,0.4),
      inset 0 0px 1px rgba(0,0,0,0.3),
      0 1px 2px rgba(0,0,0,0.6),
      0 4px 2px rgba(0,0,0,0.2),
      0 9px 4px rgba(0,0,0,0.1),
      inset 0 2px 1px rgba(255,255,255,1.0);
    outline: none;
  }
  
  a.ui-slider-handle:after {
   content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -1px;
    top: -4px;
    background-color: none;
    @include border-radius(12px);
    @include background-image(radial-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.05) rgba(255,255,255,0.0)));
  }
}*/

